@model IEnumerable<ByteTechSchoolERP.Models.ViewModels.MarksViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Student Marks</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>
<body>

    <div class="page-wrapper">

        <div class="tab-container container-fluid mt-3">
            <div class="col-md-12">
                <div class="style-0" style="max-width: 100%;margin:0px;">
                    <strong>Exam Marks</strong> |
                    <i class="fas fa-home home-icon"></i> - Marks Entry
                </div>
            </div>
        </div>

        <div class="tab-container container-fluid d-md-flex">
            <div class="col-md-12 mt-4" id="classFormContainer">
                <div class="style-0" style="max-width:100%; margin:0px;" id="classFormData">
                    <div class="table-responsive">
                        <table id="marksTable" class="display mt-2" style="width:100%">
                            <thead style="background-color: rgb(94, 114, 228); color: white;">
                                <tr>
                                    <th>Student Name</th>
                                    <th>Subject Name</th>
                                    <th>Class Name</th>
                                    <th>Section Name</th>
                                    <th>Total Marks</th>
                                    <th>Obtain Marks</th>
                                    <th>Grade</th>
                                    <th>Percentage</th>
                                </tr>
                                <tr>
                                    <th><input type="text" placeholder="Search Student Name" /></th>
                                    <th><input type="text" placeholder="Search Subject Name" /></th>
                                    <th><input type="text" placeholder="Search Class Name" /></th>
                                    <th><input type="text" placeholder="Search Section Name" /></th>
                                    <th><input type="text" placeholder="Search Total Marks" /></th>
                                    <th><input type="text" placeholder="Search Obtain Marks" /></th>
                                    <th><input type="text" placeholder="Search Grade" /></th>
                                    <th><input type="text" placeholder="Search Percentage" /></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.StudentName</td>
                                        <td>@item.SubjectName</td>
                                        <td>@item.ClassName</td>
                                        <td>@item.SectionName</td>
                                        <td>@item.TotalMarks</td>
                                        <td>@item.ObtainedMarks</td>
                                        <td>@item.Grade</td>
                                        <td>@item.Percentage</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // Initialize DataTable
            var table = $('#marksTable').DataTable();

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.header()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
</body>
</html>
